Django>=4.2,<5.0
djangorestframework>=3.14.0
djangorestframework_simplejwt==5.5.1
dj-rest-auth==7.0.2
django-allauth==65.14.0
django-filter>=23.0
django-cors-headers>=4.0
drf-yasg>=1.21.0
django-recaptcha==4.1.0
python-dateutil>=2.8.0
requests
cryptography
gunicorn
whitenoise
dj-database-url
psycopg2-binary
